:root {
    --prussian-blue: #222D3Fff;
    --rose-quartz: #C0A8B5ff;
    --white: #FCFCFCff;
    --davys-gray: #4B4D50ff;
  }
  
  
  .homeDiv {
    height: 80vh;
    position: relative;
    display: flex;

    &::before {
        content: "Artist";
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 60px;
        position: absolute;
        top: 44%;
        left: 22%;
        color: var(--rose-quartz);
        -webkit-text-stroke: 1px var(--white);
        text-stroke: 1px var(--white);
      
      }
    
      &::after {
        content: "developer";
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 60px;
        position: absolute;
        bottom: 44%;
        right: 22%;
        color: var(--prussian-blue);
        -webkit-text-stroke: 1px var(--white);
        text-stroke: 1px var(--white);
       
      }

  }

  #devTextTitle{
    font-size: 40px;
    position: absolute;
    top: 30%;
    right: 22%;
    color: var(--white);
  }
  
  #devText{
 color: var(--white);
    font-size: 20px;
   position: absolute;
   right: 0%;
   top:60%;
   width: 40%;
   text-align: left;
  }

  #artistTextTitle{
    font-size: 40px;
    position: absolute;
    top: 30%;
    left: 22%;
    color: var(--white);
  }

  #artistText{
    color: var(--white);
    font-size: 20px;
   position: absolute;
   left: 5%;
   top:60%;
   width: 40%;
   text-align: left;
  }

  #artistBlank{
    color: transparent;
  }

  .homeDiv .portrait {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 20%;
    margin-top: 4rem;
    margin-bottom: 4rem;
    border-radius: 50% / 9% 50%;
  }
  
  .red-section {
    flex: 1;
    height: 100%;
    background-color: var(--rose-quartz);
    transition: background-color 0.3s ease;
  }
  
  .blue-section {
    flex: 1;
    height: 100%;
    background-color: var(--prussian-blue);
    transition: background-color 0.3s ease;
  }
  