:root {
    --prussian-blue: #222D3Fff;
    --rose-quartz: #C0A8B5ff;
    --white: #FCFCFCff;
    --davys-gray: #4B4D50ff;
}

.homeDiv {
    height: 80vh;
    position: relative;
    display: flex;

    &::before {
        content: "Artist";
        font-family: 'Indie Flower', cursive, bold;
        font-size: calc(1vw + 2.5rem);
        position: absolute;
        top: 44%;
        left: 22%;
        color: var(--rose-quartz);
        -webkit-text-stroke: 1px var(--white);
        text-stroke: 1px var(--white);
        transition: font-size 0.3s ease, top 0.3s ease, left 0.3s ease;
    }

    &::after {
        content: "Developer";
        font-family: 'Raleway', sans-serif;
        font-size: calc(1vw + 2.5rem);
        position: absolute;
        top: 44%;
        right: 19%;
        color: var(--prussian-blue);
        -webkit-text-stroke: 1px var(--white);
        text-stroke: 1px var(--white);
        transition: font-size 0.3s ease, top 0.3s ease, right 0.3s ease;
    }

}

#devTextTitle {
    font-size: calc(1vw + 1.5rem);
    position: absolute;
    top: 30%;
    right: 26%;
    color: var(--white);
}

#devText {
    color: var(--white);
    font-size: calc(1vw + .095rem);
    position: absolute;
    right: 5%;
    top: 55%;
    width: 33%;
    text-align: left;
}

#artistTextTitle {
    font-size: calc(1vw + 1.5rem);
    position: absolute;
    top: 30%;
    left: 12%;
    color: var(--white);
}

#artistText {
    color: var(--white);
    font-size: calc(1.5vw + .095rem);
    position: absolute;
    left: 5%;
    top: 55%;
    width: 33%;
    text-align: left;
}

.homeDiv .portrait {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 20%;
    margin-top: 4rem;
    margin-bottom: 4rem;
    border-radius: 50% / 0% 50%;
}

.red-section {
    flex: 1;
    height: 100%;
    background-color: var(--rose-quartz);
    transition: background-color 0.3s ease;
}

.blue-section {
    flex: 1;
    height: 100%;
    background-color: var(--prussian-blue);
    transition: background-color 0.3s ease;
}

@media (max-width: 1180px) {
    .homeDiv .portrait {
        width: 23%;
    }

    .homeDiv::before {
        left: 15%;
    }

    .homeDiv::after {
        right: 5%;
    }

    #artistTextTitle,
    #devTextTitle {
        padding-top: 1rem;
        padding-left: 1.2rem;
    }

    #devTextTitle {
        right: 12.5%;
    }

    #artistText {
        font-size: 1.11rem;
        line-height: 1.4;
    }

    #devText {
        width: 40%;
        font-size: 0.95rem;
    }
}

@media (max-width: 768px) {
    .homeDiv .portrait {
        width: 30%;
    }

    #artDiv {
        height: fit-content;
    }

    #devTextTitle {
        top: 6%;
        left: 67%;
        font-size: 20px;
    }

    #artistTextTitle {
        left: 0%;
        top: 6%;
        font-size: 20px;
    }

    .homeDiv::before {
        left: 3.5%;
        font-size: calc(1vw + 2rem);
        top: 14%;

    }

    .homeDiv::after {
        right: 2%;
        font-size: calc(2vw + 1.5rem);
        top: 14%;
    }

    #artistText {
        top: 25%;
        left: 2%;
        height: fit-content;
        font-size: calc(2.3vw + 0.495rem);
    }

    #devText {
        height: fit-content;
        font-size: calc(1.7vw + 0.325rem);
        width: 47%;
        right: 1%;
        top: 45%;

    }

    @media (max-width: 550px) {

        #devTextTitle {
            top: 22%;
            left: 67%;
            line-break: none;
            font-size: 17px;
        }

        #artistTextTitle {
            left: 0%;
            top: 26%;
            font-size: 20px;
        }

        .homeDiv::before {
            left: 9.5%;
            font-size: calc(1vw + 2rem);
            top: 36%;
            -webkit-text-stroke: .5px var(--white);
            text-stroke: .5px var(--white);
        }

        .homeDiv::after {
            right: 2%;
            font-size: calc(2vw + 1.5rem);
            top: 37%;
            -webkit-text-stroke: .5px var(--white);
            text-stroke: .5px var(--white);
        
        }

        #artistText {
            top: 43%;
            width: 40%;
            left: 6%;
            height: fit-content;
            font-size: calc(1.4vw + 0.495rem);
        }

        #devText {

            font-size: calc(1.08vw + 0.325rem);
            width: 42%;
            right: 3%;
            top: 45%;

        }
    }

    @media (max-width: 300px) {

        #devTextTitle {
            top: 22%;
            left: 67%;
            line-break: none;
            font-size: 17px;
        }

        #artistTextTitle {
            left: -4%;
            top: 26%;
            font-size: 16px;
        }

        .homeDiv::before {
            left: 9.5%;
            font-size: calc(1vw + 2rem);
            top: 36%;

        }

        .homeDiv::after {
            right: 2%;
            font-size: calc(2vw + 1.1rem);
            top: 37%;
        }

        #artistText {
            top: 43%;
            width: 40%;
            left: 6%;
            height: fit-content;
            font-size: calc(1.4vw + 0.495rem);
        }

        #devText {

            font-size: calc(1.08vw + 0.30rem);
            width: 42%;
            right: 3%;
            top: 42%;
            

        }
    }


}