#projectsContainer {
    background-color: var(--davys-gray);
    user-select: none;
    font-family: 'Raleway, sans-serif'
  }
  
  .projectDiv {

    border-radius: .75% / 50% 50%;
  }
  
  .projectDiv:hover {
   /* Adjust the width on hover */
    z-index: 1; /* Ensure hovered card is on top */
  }
  
  .projectDiv:hover h1 {
    display: none;
  }
  
  .Logo {
    padding-top: 1rem;
    max-width: 150px;
    max-height: 150px;
    transition: max-width 1s ease, max-height 0.5s ease; 
  }
  
  .projectDiv:hover .Logo {
    max-width: 75px;
    max-height: 75px;
  }
  
  #sidebar{
width: 50%;
background-color: blueviolet;
  }
