.projectDiv {
    background-color: var(--prussian-blue);
    width: 250px;
    height: auto;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
    transition: width 1.2s ease, transform 0.3s ease;
    transition-delay: 0.5s; 
    position: relative;
    overflow: hidden;
  }
  
  .projectDiv:hover {
    width: 350px;
    transform: translateY(10px);
    height: 200%;
  }
  
  .projectDiv:hover h1 {
    display: none;
  }
  .ExternalLink{
    background-color: var(--rose-quartz);
  }
  
  .projectDiv .Logo {
    max-width: 150px;
    max-height: 150px;
  }
  
  .projectDiv:hover .Logo {
    max-width: 75px;
    max-height: 75px;
    transition: max-width 0.5s ease, max-height 0.5s ease;
  }
  
  .projectDiv .AppDesc,
  .projectDiv .techUsed,
  .projectDiv .myPart,
  .projectDiv .ExternalLink {
    display: none;
    text-align: center;
    opacity: 0;
    transition: opacity 0.8s ease;
    font-size: 1rem;
  }
  
  .projectDiv:hover .AppDesc,
  .projectDiv:hover .techUsed,
  .projectDiv:hover .ExternalLink,
  .projectDiv:hover .myPart {
    display: block;
    opacity: 1;
  }
  
  #projectsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
  
  #projectsContainer .projectDiv {
    flex: 0 0 calc(37% - 1rem); /* Adjust the width of each card */
    transition: flex 0.5s ease, opacity 0.5s ease;
  }
  
  #projectsContainer .projectDiv:hover {
    flex:  1 0 calc(24% + 1rem); 
    opacity: 1;
    z-index: 1;
    margin: 1rem;
    padding: 1rem;
   
  }
  
  #projectsContainer .projectDiv:not(:hover) {
    opacity: 0.7; /* Decrease opacity for other cards */
    margin: 4rem;
  }
  @media (max-width: 786px){
    .projectDiv{
        padding: 4rem;
    }


  }
    
  
  